@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>AT da disciplina Desenvolvimento de Aplicações Web ASP.NET MVC.</p>
    <p>Feito por Bernardo C.M.A.Pereira</p>
</div>
